@model List<Microsoft.AspNetCore.Identity.IdentityUser>

@{
    ViewData["Title"] = "Users List";
}

<div class="container-fluid pt-4 px-4">
    <div class="text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h5 class="mb-0">All Users</h5>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Email</th>
                        <th>User ID</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Any())
                    {
                        int i = 1;
                        foreach (var user in Model)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@user.Email</td>
                                <td>@user.Id</td>
                            </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="3" class="text-center">No users found in 'User' role.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
